._*
.AppleDouble
.build/
.com.apple.timemachine.donotpresent
.coverage/
.DocumentRevisions-V100
.DS_Store
.fseventsd
.idea/
.LSOverride
.netrc
.Spotlight-V100
.swiftpm/
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode/
*.bak
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.LinkFileList
*.o
*.profdata
*.profraw
*.swo
*.swp
*.tmp
*.xcodeproj
*.xcworkspace
*~
build/
DerivedData/
Icon
llms.txt
macdefaultbrowser
Package.resolved
xcuserdata/