!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
._*
.AppleDouble
.build/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.idea/
.LSOverride
.netrc
.Spotlight-V100
.swiftpm/
.TemporaryItems
.Trashes
.VolumeIcon.icns
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.LinkFileList
*.o
*.swo
*.swp
*.xccheckout
*.xcodeproj/*
*.xcscmblueprint
**/xcshareddata/WorkspaceSettings.xcsettings
*~
build/
DerivedData/
Icon
Package.resolved
xcuserdata/
llms.txt
reference